<div class="uneditable-content-container" ng-show="$ctrl.currency.code === 'PLN'" flex-offset-sm="20" flex="35"
  flex-sm="15">
  <div class="uneditable-content">
    PLN
  </div>
</div>
<md-input-container ng-show="$ctrl.currency.code !== 'PLN'" flex-offset-sm="20" flex="35" flex-sm="15">
  <md-select ng-model="$ctrl.currency.code" ng-change="$ctrl.update()" md-selected-text="$ctrl.currency.code">
    <md-option ng-repeat="option in $ctrl.currencies" ng-value="option.code">
      {{option.code}} {{option.currency}}
    </md-option>
  </md-select>
</md-input-container>
<md-input-container ng-if="$ctrl.currency.active" flex-offset-sm="15" flex="50" flex-sm="30">
  <input class="currency-input" ng-model="$ctrl.currency.value" ng-change="$ctrl.update()">
</md-input-container>
<div class="uneditable-content-container" ng-if="!$ctrl.currency.active" flex-offset-sm="15" flex="50" flex-sm="30">
  <div class="uneditable-content currency-input">
    {{$ctrl.currency.value}}
  </div>
</div>