.currency-input {
  text-align: right;
}
.label-container {
    display: inline-block;
    margin: 18px 0;
    padding: 2px;
    position: relative;
    vertical-align: middle;
    &::after {
      clear: both;
      content: '';
      display: table;
    }
    // .label {
      // order: 2;
      // display: block;
      // margin-top: 0;
      // background: none;
      // padding-top: 2px;
      // padding-bottom: 1px;
      // padding-left: 2px;
      // padding-right: 2px;
      // border-width: 0 0 1px 0;
      // line-height: 26px;
      // height: 30px;
      // -ms-flex-preferred-size: 26px;
      // border-radius: 0;
      // border-style: solid;
      // width: 100%;
      // box-sizing: border-box;
      // float: left;
    // }
}