<div class="rates-table-container" ng-show="$ctrl.data" ng-cloak>
  <table class="rates-table">
    <thead>
      <tr class="rates-table-row">
        <th class="app-typography-body-2-th rates-table-header"
          ng-class="{'rates-table-left': header.align === 'left', 'rates-table-right': header.align === 'right'}"
          ng-repeat="header in $ctrl.tableData.headers" ng-click="$ctrl.sort(header.code)">
          <div class="rates-table-icon-wrapper" ng-if="header.align === 'right'">
            <md-icon class="rates-table-icon" ng-show="$ctrl.sortBy === header.code">
              {{$ctrl.icon}}
            </md-icon>
          </div>
          <span class="rates-table-label">
            {{header.label}}
          </span>
          <div class="rates-table-icon-wrapper" ng-if="header.align === 'left'">
            <md-icon class="rates-table-icon" ng-show="$ctrl.sortBy === header.code">
              {{$ctrl.icon}}
            </md-icon>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="app-typography-body-2 rates-table-row" ng-repeat="row in $ctrl.data">
        <td class="rates-table-data" ng-class="{'rates-table-right': key === 'ask' || key === 'bid'}"
          ng-repeat="(key, value) in row">
          <span ng-if="key !== 'date'">
            {{value}}
          </span>
          <span ng-if="key === 'date'">
            {{value | date: "dd.MM.yyyy"}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>