<div class="rates-table-container" ng-show="$ctrl.data" ng-cloak>
  <table class="rates-table">
    <thead>
      <tr class="rates-table-row">
        <th class="app-typography-body-2-th rates-table-header"
          ng-class="{'rates-table-hide': header.code === 'currency'}" ng-repeat="header in $ctrl.tableData.headers"
          ng-click="$ctrl.sort(header.code)">
          <app-rates-table-header header="header" sort-by="$ctrl.sortBy" sort-direction="$ctrl.sortDirection">
          </app-rates-table-header>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="app-typography-body-2 rates-table-row" ng-repeat="row in $ctrl.data">
        <td class="rates-table-data"
          ng-class="{'rates-table-right': key === 'ask' || key === 'bid', 'rates-table-hide': key === 'currency'}"
          ng-repeat="(key, value) in row">
          <span ng-if="key !== 'date'">
            {{value}}
          </span>
          <span ng-if="key === 'date'">
            {{value | date: "dd.MM.yyyy"}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>