@import '../../../../style/helpers/variables';
@import '../../../../style/helpers/placeholders';

span.rates-table-header-label {
  @media(max-width: $breakpoint-sm-xs) {
    max-width: 60%;
  }
}
.rates-table {
  border-collapse: collapse;
  width: 100%;
}
.rates-table-container {
  overflow: auto;
  position: relative;
}
.rates-table-data {
  @extend %table-data;
  border-top: 1px solid $color-table;
  color: $color-table-data;
  &:first-child {
    @extend %table-first-column;
  }
}
.rates-table-header {
  @extend %table-data;
  color: $color-primary;
  cursor: pointer;
  &:first-child {
    @extend %table-first-column;
  }
  &:focus {
    @extend %table-header;
    outline: none;
  }
  &:hover {
    @extend %table-header;
  }
}
.rates-table-hide {
  display: none;
  @media (min-width: #{$breakpoint-gt-xs}) {
    display: table-cell;
  }
}
.rates-table-left {
  text-align: left
}
.rates-table-right {
  text-align: right;
}
.rates-table-row {
  height: $rates-table-row-height;
  position: relative;
}