<div class="rates-table-container">
  <table class="rates-table">
    <thead>
      <tr class="app-typography-th rates-table-row">
        <th class="app-padding rates-table-header" ng-style="c.minWidth" ng-repeat="c in $ctrl.columns"
          ng-click="$ctrl.sort(c.prop)">
          <div ng-class="{'rates-table-header-right': c.alignToRight}" layout layout-align="none center">
            <span>
              {{c.label}}
            </span>
            <span class="rates-table-icon-wrapper">
              <md-icon class="rates-table-icon" ng-show="$ctrl.sortBy === c.prop">
                {{$ctrl.icon}}
              </md-icon>
            </span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="app-typography-body-2 rates-table-row" ng-repeat="r in $ctrl.rows">
        <td class="app-padding rates-table-cell" ng-class="{'rates-table-cell-right': c.alignToRight}"
          ng-repeat="c in $ctrl.columns">
          {{r[c.prop]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>