<md-content class="md-padding" ng-cloak>
  <md-card class="rates-card">
    <md-card-title>
      <md-card-title-text class="md-headline">
        Kursy walut
      </md-card-title-text>
    </md-card-title>
    <md-card-title>
      <md-card-title-text class="md-subhead app-typography-subtitle">
        Aktualne i historyczne kursy dwunastu walut obcych.
      </md-card-title-text>
    </md-card-title>
    <md-nav-bar md-selected-nav-item="$ctrl.state" md-no-ink-bar="false">
      <md-nav-item class="rates-nav-bar" ng-class="{'rates-selected': $ctrl.state === 'current'}" name="current"
        md-nav-sref="appRates.current">
        Aktualne
      </md-nav-item>
      <md-nav-item class="rates-nav-bar" ng-class="{'rates-selected': $ctrl.state === 'historical'}" name="historical"
        md-nav-sref="appRates.historical">
        Historyczne
      </md-nav-item>
    </md-nav-bar>
    <ui-view></ui-view>
  </md-card>
</md-content>