@import '../../../style/helpers/variables';

.rates-nav-bar .md-button._md-nav-button {
  background-color: transparent;
  transition: none;
}
.rates-selected .md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: $color-primary-dark;
}
.rates-view {
  min-height: 33rem;
  @media(min-width: $breakpoint-xs) {
    min-height: 42rem;
  }
}
.rates-view.ng-enter {
  opacity: 0;
  transition: opacity $animation-show;
}
.rates-view.ng-enter.ng-enter-active {
  opacity: 1;
}