{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 5% in PL"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "angularjs-annotate"
  ]
}