<form name="calculateForm" ng-submit="$ctrl.setValue($ctrl.currencyFirst.code)" ng-cloak>
  <div layout layout-wrap>
    <div flex="100" flex-gt-xs="45">
      <h6 class="app-typography-h6 converter-form-header">
        Mam
      </h6>
      <div layout layout-align="space-between">
        <app-select currency="{code: $ctrl.currencyFirst.code}" empty-option="false"
          on-update-code="$ctrl.updateCode($event)" flex="30" flex-gt-md="25">
        </app-select>
        <md-input-container flex="45" flex-gt-xs="50">
          <div>
            <label>
              Kwota
            </label>
          </div>
          <input name="value" class="app-typography-body converter-form-input" ng-model="$ctrl.currencyFirst.value"
            ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 300, 'blur': 0}}" ng-required="true"
            md-no-asterisk converter-form-formatter>
          <app-messages errors="calculateForm.value.$error"></app-messages>
        </md-input-container>
      </div>
    </div>
    <div flex="100" flex-gt-xs="10" layout layout-align="space-around center">
      <md-button class="md-icon-button md-primary converter-form-swap" ng-click="$ctrl.swap()">
        <md-icon>
          swap_vert
        </md-icon>
      </md-button>
    </div>
    <div flex="100" flex-gt-xs="45">
      <h6 class="app-typography-h6 converter-form-header">
        Chcę
      </h6>
      <div layout layout-align="space-between">
        <app-select currency="{code: $ctrl.currencySecond.code}" empty-option="false"
          on-update-code="$ctrl.updateCode($event)" flex="30" flex-gt-md="25">
        </app-select>
        <div class="app-uneditable-content-container" flex="45" flex-gt-xs="50">
          <span class="app-uneditable-content-label">
            Kwota
          </span>
          <div class="app-typography-body app-uneditable-content converter-form-input">
            {{$ctrl.currencySecond.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div layout layout-align="space-around">
    <md-button type="submit" class="app-typography-button app-submit-button md-accent md-hue-1 md-raised"
      ng-disabled="calculateForm.$invalid || $ctrl.loader">
      <span class="app-submit-button-label">
        PRZELICZ
      </span>
    </md-button>
  </div>
</form>