<form name="calculateForm" ng-submit="$ctrl.calculate(calculateForm)">
  <md-card-content>
    <div layout layout-wrap>
      <div flex-offset-md="5" flex-offset-gt-md="15" flex="100" flex-md="35" flex-gt-md="30">
        <div layout layout-align-xs="space-between" layout-align-gt-sm="space-between">
          <app-converter-code currency="$ctrl.currencyFirst" on-update-code="$ctrl.updateCode($event)"
            flex-offset-sm="20" flex="35" flex-sm="15"></app-converter-code>
          <div flex-offset-sm="15" flex="50" flex-sm="30">
            <md-input-container>
              <input name="value" class="currency-input" ng-model="$ctrl.currencyFirst.value"
                ng-change="$ctrl.update()">
              <div ng-messages="calculateForm.value.$error">
                <div ng-message="validationError">
                  Pole wymagane
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div flex="100" flex-md="20" flex-gt-md="10" layout layout-align="space-around center">
        <md-button class="md-fab md-mini change-button" ng-click="$ctrl.exchange()">
          <md-icon>
            import_export
          </md-icon>
        </md-button>
      </div>
      <div flex="100" flex-md="35" flex-gt-md="30">
        <div layout layout-align-xs="space-between" layout-align-gt-sm="space-between">
          <app-converter-code currency="$ctrl.currencySecond" on-update-code="$ctrl.updateCode($event)"
            flex-offset-sm="20" flex="35" flex-sm="15"></app-converter-code>
          <div class="uneditable-content-container" flex-offset-sm="15" flex="50" flex-sm="30">
            <div class="uneditable-content currency-input">
              {{$ctrl.currencySecond.value}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions layout layout-align="space-around">
    <md-button type="submit" class="md-primary md-raised">
      Przelicz
    </md-button>
  </md-card-actions>
</form>