.change-button {
  @media(min-width: 960px) {
    transform: rotate(90deg);
  }
}
.currency-input-container {
  padding-right: 0;
  width: calc(100% - 20px);
  @media(min-width: 960px) {
    width: 100%;
  }
  .currency-input {
    padding-right: inherit;
    text-align: right;
  }
}