@import '../../../../style/helpers/variables';

.converter-form-header {
  margin-bottom: .75rem;
}
.converter-form-input {
  text-align: right;
}
.converter-form-swap {
  @media(min-width: $breakpoint-xs) {
    transform: rotate(90deg);
  }
}