@import '../../../style/helpers/variables';

.side-menu {
    background-color: $color-primary-light;
    box-shadow: .125rem 0 .375rem rgba(0, 0, 0, .2);
    height: calc(100vh - #{$common-height});
    left: 0;
    position: fixed;
    top: $common-height-sm;
    width: 16rem;
    z-index: 2;
    @media(min-width: 600px) {
        top: $common-height;
    }
}
.side-menu-icon {
    // transform: rotate(0deg);
    transition: 2000ms;
    &.side-menu-icon-rotated {
        transform: rotate(90deg);
    }
}
.side-menu-item {
    background-color: $color-primary-light;
    color: $color-text-dark;
    line-height: 3rem;
    min-height: 3rem;
    padding-left: .875rem;
    &:hover {
        background-color: $color-primary;
        color: $color-text-light;
    }
}
.side-menu-link {
    line-height: 3rem;
}
.side-menu-submenu-collapsed {
    height: 1px;
    opacity: 0;
    overflow: hidden;
    transition: visibility 150ms ease-out, opacity 150ms ease-out, height 250ms ease-out 150ms;
    visibility: hidden;
}
.side-menu-submenu-expanded {
    height: 5rem;
    opacity: 1;
    visibility: visible;
    transition: visibility 300ms ease-out 300ms, opacity 300ms ease-out 300ms, height 300ms ease-out;
}
.side-menu-submenu-item {
    background-color: $color-primary-light;
    color: $color-text-dark;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 .875rem 0 1.75rem;
}