@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

a.side-menu-link-active {
  color: $color-primary;
}
.side-menu {
    background-color: $color-primary-light;
    bottom: 0;
    height: calc(100vh - #{$common-height});
    position: fixed;
    top: $common-height;
    width: $common-side-menu-width;
    z-index: 4;
}
.side-menu-default {
  @include side-menu-state(-$common-side-menu-width, hidden);
  @media(min-width: $breakpoint-sm) {
    @include side-menu-state(0, visible);
  }
}
.side-menu-collapsed-d {
  @include side-menu-state(-$common-side-menu-width, hidden);
}
.side-menu-collapsed-m {
  transform: translateX(-$common-side-menu-width);
  transition: transform $animation-hide;
}
.side-menu-expanded-m {
  @include side-menu-state(0, visible);
  transition: transform $animation-show;
}
.side-menu-item {
  display: block;
}
.side-menu-link {
  display: block;
  text-align: left;
}
.side-menu-version {
  bottom: $common-padding;
  margin-left:  $common-padding;
  position: absolute;
}
.side-menu-wrapper {
  height: 100%;
  position: relative;
}