@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

a.side-menu-link-active {
  color: $color-primary;
}
.side-menu {
    background-color: $color-primary-light;
    bottom: 0;
    box-shadow: .125rem 0 .375rem rgba(0, 0, 0, .2);
    height: calc(100vh - #{$common-height-sm});
    position: fixed;
    width: $common-side-menu-width;
    z-index: 4;
    @media (min-width: #{$breakpoint-gt-xs}) {
      height: calc(100vh - #{$common-height});
    }
}
.side-menu-default {
  @include side-menu-state(-$common-side-menu-width, hidden);
  @media(min-width: #{$breakpoint-gt-sm}) {
    @include side-menu-state(0, visible);
  }
}
.side-menu-collapsed-d {
  @include side-menu-state(-$common-side-menu-width, hidden);
}
.side-menu-collapsed-m {
  transform: translateX(-$common-side-menu-width);
  transition: transform $animation-hide;
}
.side-menu-expanded-m {
  @include side-menu-state(0, visible);
  transition: transform $animation-show;
}
.side-menu-link {
  display: block;
  text-align: left;
}