@import '../../../style/helpers/variables';

md-progress-circular.submit-button-hidden {
  display: none;
}
span.submit-button-hidden {
  display: none;
}
.md-button.submit-button {
  padding: 0;
}
.submit-button-hide {
  opacity: 0;
  transition: opacity $animation-opacity-off;
}
.submit-button-label {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.submit-button-show {
  opacity: 1;
  transition: opacity $animation-opacity-on;
}