@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';
@import '../../style/helpers/placeholders';

.common-backdrop {
  @extend %backdrop;
  background-color: black;
  opacity: .5;
  position: fixed;
  @media(min-width: #{$breakpoint-sm}) {
    display: none;
  }
}
.common-backdrop.ng-hide {
  opacity: 0;
}
.common-backdrop.ng-hide-add {
  transition: opacity $animation-hide;
}
.common-backdrop.ng-hide-remove {
  transition: opacity $animation-show;
}
.common-block-scroll {
  overflow: hidden;
}
.common-container {
  padding-top: $common-height;
  position: relative;
}
.common-main {
  @extend %content-height;
  position: relative;
}
.common-toast-container {
  @include toast-container(0, 3rem, 0);
  position: fixed;
  width: 100vw;
  z-index: 3;
  @media (min-width: #{$breakpoint-sm}) {
    @include toast-container(auto, 4rem, auto);
    right: 0;
    top: 4rem;
  }
}
.common-toast-hide {
  visibility: hidden;
}
.common-toast-show {
  visibility: visible;
}
.common-view {
  @extend %content-height;
}
.common-view.ng-enter {
  opacity: 0;
  transition: opacity $animation-show;
}
.common-view.ng-enter.ng-enter-active {
  opacity: 1;
}