@import '../../style/helpers/variables';

main {
  min-height: 77vh;
  @media(min-width: 600px) {
    min-height: 80vh;
  }
  @media(min-width: 960px) {
    min-height: calc(100vh - 144px);
  }
}
#toast-container {
  position: fixed;
  bottom: 0;
  height: 48px;
  left: 0;
  width: 100vw;
  @media (min-width: 960px) {
    bottom: auto;
    height: 64px;
    left: auto;
    right: 0;
    top: 64px;
  }
}
.body {
  padding-top: 3.5rem;
  position: relative;
  @media(min-width: 600px) {
    padding-top: 4rem;
  }
}
.common-backdrop {
  background-color: black;
  height: 100%;
  opacity: .5;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  @media(min-width: #{$breakpoint-gt-sm}) {
    display: none;
  }
}
.common-backdrop.ng-hide {
  opacity: 0;
}
.common-backdrop.ng-hide-add {
  transition: opacity 200ms ease-in;
}
.common-backdrop.ng-hide-remove {
  transition: opacity 300ms ease-out;
}
.common-view-container {
  position: relative;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}