main {
  min-height: 77vh;
  @media(min-width: 600px) {
    min-height: 80vh;
  }
  @media(min-width: 960px) {
    min-height: calc(100vh - 144px);
  }
}
#toast-container {
  position: fixed;
  bottom: 0;
  height: 48px;
  left: 0;
  width: 100vw;
  @media (min-width: 960px) {
    bottom: auto;
    height: 64px;
    left: auto;
    right: 0;
    top: 64px;
  }
}
.body {
  padding-top: 3.5rem;
  @media(min-width: 600px) {
    padding-top: 4rem;
  }
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}