.absolute {
  bottom: 0;
  position: absolute;
}
.flex-box {
  @media(min-width: 960px) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.pseudo::after {
  content: '';
  display: block;
  height: 105px;
}
.rateCardAnimation {
  transition: 300ms;
  transform: translateY(113px);
}
.relative {
  position: relative;
}
.reset-margin {
  @media(min-width: 960px) {
    margin: 0;
  }
}
.reset-padding-top {
  padding-top: 0;
}
.top {
  position: relative;
  z-index: 1;
}