<md-content class="app-content-padding" ng-cloak>
  <div class="converter-container" layout="column">
    <md-card>
      <app-converter-slider loading="$ctrl.sliderLoader"></app-converter-slider>
    </md-card>
    <md-card>
      <md-card-title class="app-padding">
        <md-card-title-text class="md-headline">
          Kalkulator walutowy
        </md-card-title-text>
      </md-card-title>
      <md-card-title class="app-padding">
        <md-card-title-text class="md-subhead app-typography-subtitle">
          Sprawdź wartość swoich pieniędzy w jednej z dwunastu obcych walut lub w złotówkach.
        </md-card-title-text>
      </md-card-title>
      <md-card-content class="app-padding converter-card">
        <app-converter-form currencies="$ctrl.currencies" loading="$ctrl.loader"
          set-backdrop="$ctrl.setBackdrop($event)" update-rate="$ctrl.updateRate($event)"></app-converter-form>
        <div class="app-position-relative">
          <app-converter-rate rate-data="$ctrl.rateData" show="$ctrl.showRate"></app-converter-rate>
          <app-backdrop show="$ctrl.loader"></app-backdrop>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>