<div class="charts-legend-container">
  <div class="charts-legend-first"
    ng-class="{'charts-legend-one': !$ctrl.codes[1].code, 'charts-legend-two': $ctrl.codes[1].code}">
    <div layout layout-align="space-between center">
      <div class="charts-legend-bar-first"></div>
      <span class="app-typography-body-2">
        {{$ctrl.codes[0].code}}
      </span>
    </div>
  </div>
  <div class="charts-legend-second" ng-show="$ctrl.codes[1].code">
    <div layout layout-align="space-between center">
      <div class="charts-legend-bar-second"></div>
      <span class="app-typography-body-2">
        {{$ctrl.secondCode}}
      </span>
    </div>
  </div>
</div>