.extra-padding {
  padding-top: 20px;
}
.fixed-width {
  @media(min-width: 960px) {
    width: 928px;
  }
}
.link {
  text-decoration: none;
}
.uneditable-content-container-left {
  @extend %uneditable-content-container;
  padding-right: 2px;
  .uneditable-content-left {
    @extend %uneditable-content;
    padding-right: 2px;
  }
}
.uneditable-content-container-right {
  @extend %uneditable-content-container;
  padding-left: 2px;
  .uneditable-content-right {
    @extend %uneditable-content;
    padding-left: 2px;
  }
}