.md-button.app-submit-button {
  padding: 0;
}
.app-content-padding {
  padding: 0;
  @media (min-width: #{$breakpoint-gt-sm}) {
    padding: .5rem;
  }
}
.app-content-width {
  @media (min-width: #{$breakpoint-gt-md}) {
    margin: 0 auto;
    width: calc(#{$breakpoint-gt-md} - #{$common-side-menu-width} - 3rem);
  }
}
.app-padding {
  padding-left: $base-padding;
  padding-right: $base-padding;
  @media(min-width: #{$breakpoint-gt-sm}) {
    padding-left: $base-padding * 2;
    padding-right: $base-padding * 2;
  }
}
.app-position-relative {
  position: relative;
}
.app-side-menu-expanded {
  @media(min-width: #{$breakpoint-gt-sm}) {
    margin-left: $common-side-menu-width;
  }
}
.app-submit-button-label {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.app-table-height {
  height: 10 * 3rem;
  @media(min-width: #{$breakpoint-gt-xs}) {
    height: 13 * 3rem;
  }
}
.app-uneditable-content {
  background: linear-gradient(90deg, $color-uneditable 0, $color-uneditable 33%, transparent 0) 0 bottom / 4px 1px repeat-x;
  color: $color-uneditable;
  height: 30px;
  line-height: 26px;
  margin-bottom: 24px;
  padding: 2px 2px 1px 2px;
}
.app-uneditable-content-container {
  margin: 18px 0;
  padding: 2px;
  position: relative;
}
.app-uneditable-content-label {
  color: $color-uneditable-label;
  bottom: 100%;
  position: absolute;
  transform: translateX(-6px) scale(.75);
}