<div class="converter-slider" ng-cloak>
  <div class="app-typography-body converter-slider-container" ng-show="$ctrl.view" layout
    layout-align="space-around center">
    <span>
      {{$ctrl.view.code}}/PLN
    </span>
    <span layout layout-align="start center">
      <span>
        {{$ctrl.view.rate}}
      </span>
      <md-icon class="converter-slider-icon-up" ng-if="$ctrl.view.change === 'up'">
        arrow_upward
      </md-icon>
      <md-icon class="converter-slider-icon-down" ng-if="$ctrl.view.change ==='down'">
        arrow_downward
      </md-icon>
    </span>
  </div>
  <div class="converter-slider-container" ng-show="$ctrl.loader" layout layout-align="space-around center">
    <md-progress-circular class="md-primary md-hue-2" md-diameter="20px"></md-progress-circular>
  </div>
</div>