@import '../../../../style/helpers/variables';

.converter-slider {
  background-color: $color-accent;
  height: 2rem;
  overflow: hidden;
  width: 100%;
}
.converter-slider-container {
  height: 100%;
}
.converter-slider-default {
  transform: translateY(2rem);
}
.converter-slider-hide {
  transform: translateY(-2rem);
  transition: transform $animation-hide;
}
.converter-slider-message.ng-hide {
  opacity: 0;
}
.converter-slider-message.ng-hide-add {
  transition: opacity $animation-opacity-off;
}
.converter-slider-message.ng-hide-remove {
  transition: opacity $animation-opacity-on;
}
.converter-slider-show {
  transform: translateY(0);
  transition: transform $animation-show;
}
.material-icons.converter-slider-icon-down {
  color: $color-indicator-down;
  margin-left: .25rem;
}
.material-icons.converter-slider-icon-up {
  color: $color-indicator-up;
  margin-left: .25rem;
}