<p>
  Rates at {{$ctrl.date}}
</p>
<table>
  <thead>
    <tr>
      <th ng-click="$ctrl.sort('code')">
        Kod
      </th>
      <th ng-click="$ctrl.sort('currency')">
        Waluta
      </th>
      <th ng-click="$ctrl.sort('bid')">
        Cena zakupu
      </th>
      <th ng-click="$ctrl.sort('ask')">
        Cena sprzedaży
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="currency in $ctrl.rates">
      <td>
        {{currency.code}}
      </td>
      <td>
        {{currency.currency}}
      </td>
      <td>
        {{currency.bid}}
      </td>
      <td>
        {{currency.ask}}
      </td>
    </tr>
    </tr>
  </tbody>
</table>