<md-content class="app-content-padding" ng-cloak>
  <div class="app-content-width">
    <md-card>
      <md-card-title class="app-padding">
        <md-card-title-text class="md-headline">
          Wykresy
        </md-card-title-text>
      </md-card-title>
      <md-card-title class="app-padding">
        <md-card-title-text class="md-subhead app-typography-subtitle">
          Aktualne i historyczne kursy dwunastu walut obcych. Kursy aktualne publikowane są każdego dnia roboczego.
        </md-card-title-text>
      </md-card-title>
      <md-card-content class="app-padding">
        <app-filter block="$ctrl.loader" config="$ctrl.filterConfig" get-data="$ctrl.getData($event)"></app-filter>
        <canvas class="chart chart-line" chart-data="$ctrl.data" chart-labels="$ctrl.labels"
          chart-dataset-override="$ctrl.datasetOverride" chart-options="$ctrl.options">
        </canvas>
      </md-card-content>
    </md-card>
  </div>
</md-content>