<md-content class="app-content-padding" ng-cloak>
  <div class="app-content-width">
    <md-card>
      <md-card-title class="app-padding">
        <md-card-title-text class="md-headline">
          Wykresy
        </md-card-title-text>
      </md-card-title>
      <md-card-title class="app-padding">
        <md-card-title-text class="md-subhead app-typography-subtitle">
          Wybierze jedną lub dwie z dwunastu walut obcych oraz interesujący Cię przedział czasowy.
        </md-card-title-text>
      </md-card-title>
      <md-card-content class="app-padding">
        <app-filter block="$ctrl.loader" config="$ctrl.filterConfig" get-data="$ctrl.getData($event)"></app-filter>
      </md-card-content>
      <div class="app-position-relative">
        <div class="app-padding charts-wrapper">
          <canvas class="chart chart-line" chart-data="$ctrl.data" chart-labels="$ctrl.labels"
            chart-dataset-override="$ctrl.datasetOverride">
          </canvas>
        </div>
        <app-backdrop show="$ctrl.loader"></app-backdrop>
      </div>
    </md-card>
  </div>
</md-content>