<div class="uneditable-content-container-left" ng-if="$ctrl.currency.code === 'PLN'">
  <div class="uneditable-content-left code body">
    PLN
  </div>
</div>
<md-input-container ng-if="$ctrl.currency.code !== 'PLN'">
  <label>
    Waluta
  </label>
  <md-select class="select-currency-code" ng-model="$ctrl.currency.code" ng-change="$ctrl.updateCode()"
    md-selected-text="$ctrl.currency.code">
    <md-optgroup label="{{value.name}}" ng-repeat="(key, value) in $ctrl.currencies">
      <md-option ng-repeat="option in value.items" ng-value="option.code">
        {{option.code}} {{option.currency}}
      </md-option>
    </md-optgroup>
  </md-select>
</md-input-container>