<div class="app-uneditable-content-container" ng-if="$ctrl.currency.code === 'PLN'">
  <span class="app-uneditable-content-label">
    Waluta
  </span>
  <div class="app-typography-body app-uneditable-content">
    PLN
  </div>
</div>
<md-input-container class="select-container" ng-if="$ctrl.currency.code !== 'PLN'">
  <label>
    Waluta
  </label>
  <md-select class="select-currency-code" ng-model="$ctrl.model.code" ng-change="$ctrl.updateCode()"
    md-selected-text="$ctrl.model.code">
    <md-option ng-value="null" ng-if="$ctrl.emptyOption">
      <em>
        Brak
      </em>
    </md-option>
    <md-optgroup label="{{value.name}}" ng-repeat="(key, value) in $ctrl.currencies">
      <md-option ng-repeat="option in value.items" ng-value="option.code">
        {{option.code}} {{option.currency}}
      </md-option>
    </md-optgroup>
  </md-select>
</md-input-container>