<div layout layout-align="{{$ctrl.header.align}}" ng-cloak>
  <div class="rates-table-header-icon-wrapper" ng-if="$ctrl.header.align === 'end'">
    <md-icon class="rates-table-header-icon" ng-show="$ctrl.sortBy === $ctrl.header.code">
      {{$ctrl.icon}}
    </md-icon>
  </div>
  <span layout layout-align="start center"
    ng-class="{'rates-table-header-left': $ctrl.header.align === 'start', 'rates-table-header-right': $ctrl.header.align === 'end'}">
    {{$ctrl.header.label}}
  </span>
  <div class="rates-table-header-icon-wrapper" ng-if="$ctrl.header.align === 'start'">
    <md-icon class="rates-table-header-icon" ng-show="$ctrl.sortBy === $ctrl.header.code">
      {{$ctrl.icon}}
    </md-icon>
  </div>
</div>