@import '../../../style/helpers/variables';

.header-container {
  background-color: $color-primary;
  color: $color-text-light;
  height: $common-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}