.app-header-container {
  box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .2);
  height: 3.5rem;
  padding: 0 .125rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  @media(min-width: 600px) {
    height: 4rem;
    padding: 0 1.125rem;
  }
}