@import '../../../style/helpers/variables';

.header-container {
  background-color: $color-primary;
  box-shadow: 0 .125rem .375rem $color-shadow;
  color: $color-text-light;
  height: $common-height-sm;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  @media(min-width: #{$breakpoint-gt-xs}) {
    height: $common-height;
  }
}