@import '../../../../../style/helpers/variables';
@import '../../../../../style/helpers/placeholders';

.submenu-item-contents {
  @extend %side-menu-item;
  height: $submenu-item-height;
  line-height: $submenu-item-height;
  padding: 0 $common-padding 0 $common-padding * 2;
}