@mixin rotate-icon($degrees, $time) {
  transform: rotate($degrees);
  transition: $time;
}
@mixin side-menu-state($translate, $visibility) {
    transform: $translate;
    visibility: $visibility;
}
@mixin side-menu-state-impact($margin, $time, $timing) {
  margin-left: $margin;
  transition: margin-left $time $timing;
}
@mixin submenu($height, $opacity, $visibility) {
  height: $height;
  opacity: $opacity;
  visibility: $visibility;
}
@mixin typography($size, $weight, $spacing) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}