@mixin menu-state($box-shadow, $position, $width, $z-index) {
  background-color: $color-primary-light;
  box-shadow: $box-shadow;
  height: $side-menu-height;
  position: $position;
  width: $width;
  z-index: $z-index;
}
@mixin rotate-icon($degrees, $time) {
  transform: rotate($degrees);
  transition: $time;
}
@mixin side-menu-state($translate, $visibility) {
    transform: $translate;
    visibility: $visibility;
}
@mixin submenu($height, $opacity, $visibility) {
  height: $height;
  opacity: $opacity;
  visibility: $visibility;
}
@mixin typography($size, $weight, $spacing) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}