@mixin icon-animations($degrees, $time) {
  transform: rotate($degrees);
  transition: $time;
}
@mixin side-menu-state($rems, $visibility) {
  transform: translateX($rems);
  visibility: $visibility;
}
@mixin submenu-animations($height, $opacity, $height-options, $opacity-options) {
  height: $height;
  opacity: $opacity;
  transition: height $height-options, opacity $opacity-options;
}
@mixin toast-container($bottom, $height, $left) {
  bottom: $bottom;
  height: $height;
  left: $left;
}
@mixin typography($size, $weight, $spacing) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}