%footer-link {
  color: $color-text-light;
  text-decoration: none;
  transition: color 200ms ease-out;
  &:hover {
    color: $color-primary-light;
  }
}
%side-menu-item {
  color: inherit;
  text-decoration: none;
}
%side-menu-item-level-1 {
  @extend %side-menu-item;
  line-height: $side-menu-item-height;
  min-height: $side-menu-item-height;
}
%uneditable-content-container {
  margin: 18px 0;
  padding-bottom: 2px;
  padding-top: 2px;
}
%uneditable-content {
  border-bottom: 1px solid #F5D8D8;
  box-sizing: border-box;
  color: rgba(0,0,0, .5);
  height: 30px;
  line-height: 26px;
  margin-bottom: 24px;
  padding-bottom: 1px;
  padding-top: 2px;
}