%backdrop {
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
%content-height {
  min-height: calc(100vh - #{$common-height} - #{$footer-height});
}
%content-width {
  @media (min-width: #{$breakpoint-gt-md}) {
    margin: 0 auto;
    width: calc(#{$breakpoint-gt-md} - #{$common-side-menu-width} - 3rem);
  }
}
%side-menu-icon {
  color: $color-text-dark;
  margin: 0 ($common-padding / 2) 0 0;
}
%side-menu-item {
  color: $color-text-dark;
  text-decoration: none;
  &:focus, &:hover {
    background-color: $color-primary-dark;
    color: $color-text-light;
    outline: none;
  }
}
%side-menu-item-level-1 {
  @extend %side-menu-item;
  height: $side-menu-item-height;
  line-height: $side-menu-item-height;
  padding: 0 $common-padding;
  &:focus, &:hover {
    .side-menu-item-icon {
      color: $color-accent-light;
    }
    .side-menu-item-icon-arrow {
      color: $color-text-light;
    }
  }
}
%table-data {
  padding: 0 .5rem;
  @media  (min-width: #{$breakpoint-gt-xs}) {
    padding: 0 1rem;
  }
}
%table-header {
  color:$color-primary-dark;
  .rates-table-header-icon {
    color: $color-primary-dark;
  }
}