%backdrop {
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
%cell {
  align-items: center;
  display: flex;
  flex: 1 0;
  height: $rates-table-row-height;
}
%charts-legend {
  padding: 0 1rem .5rem 1rem;
  position: absolute;
  width: $charts-legend-width;
}
%charts-legend-bar {
  border-radius: .125rem;
  height: .25rem;
  width: 1.75rem;
}
%side-menu-icon {
  color: $color-text-dark;
  margin: 0 ($common-padding / 2) 0 0;
}
%side-menu-item {
  color: $color-text-dark;
  text-decoration: none;
  &:focus, &:hover {
    background-color: $color-primary-dark;
    color: $color-text-light;
    outline: none;
  }
}
%side-menu-item-level-1 {
  @extend %side-menu-item;
  height: $side-menu-item-height;
  line-height: $side-menu-item-height;
  padding: 0 $common-padding;
  &:focus, &:hover {
    .side-menu-item-icon {
      color: $color-accent-light;
    }
    .side-menu-item-icon-arrow {
      color: $color-text-light;
    }
  }
}
%sticky {
  position: sticky;
  position: -webkit-sticky;
}
%sticky-cell {
  @extend %sticky;
  box-shadow: 6px 0 2px -1px rgba(255, 255, 255, .8);
  left: 0;
}