// Colors
$color-primary: rgb(96, 77, 141);
$color-primary-dark: rgb(68,52,112);
$color-primary-light: rgb(184,161,255);
$color-text-dark: rgba(0, 0, 0, .87);
$color-text-light: rgba(255, 255, 255, .87);

// Common
$common-height: 4rem;
$common-height-sm: .875 * $common-height;
$common-padding: .875rem;

// Footer
$footer-menu-height: $common-height - 2 * $common-padding;
$footer-padding: 1.5rem;

// Side menu
$side-menu-item-height: 3rem;
$side-menu-submenu-height: 2.5rem;