// Animations
$animation-duration-hide: 200ms;
$animation-duration-opacity-off: 100ms;
$animation-duration-opacity-on: 150ms;
$animation-duration-show: 250ms;
$animation-hide: $animation-duration-hide ease-in;
$animation-opacity-off: $animation-duration-opacity-off ease-in;
$animation-opacity-on: $animation-duration-opacity-on ease-out;
$animation-show: $animation-duration-show ease-out;

// Base
$base-padding: .5rem;

// Breakpoints
$breakpoint-sm-xs: 370px;
$breakpoint-gt-xs: 600px;
$breakpoint-gt-sm: 960px;
$breakpoint-gt-md: 1280px;

// Colors
$color-accent: rgb(238,255,65);
$color-accent-light: rgb(244, 255, 129);
$color-indicator-down: rgb(244, 67, 54);
$color-indicator-up: rgb(76, 175, 80);
$color-primary: rgb(158, 158, 158);
$color-primary-dark: rgb(66, 66, 66);
$color-primary-light: rgb(224, 224, 224);
$color-table: rgb(245, 245, 245);
$color-table-data: rgba(0, 0, 0, .871);
$color-text-dark: rgba(0, 0, 0, .87);
$color-text-light: rgba(255, 255, 255, .87);
$color-uneditable: rgba(0, 0, 0, .38);
$color-uneditable-label: rgba(0, 0, 0, .54);

// Common
$common-height: 3.5rem;
$common-padding: .875rem;
$common-side-menu-width: 15rem;

// Converter rate
$converter-rate-height: 2rem;
$converter-rate-margin-bt: .5rem;
$converter-rate-margin-bt-gt-sm: 1rem;

$converter-rate-container-height: $converter-rate-height * 2 + $converter-rate-margin-bt + 1rem;
$converter-rate-container-height-gt-sm: $converter-rate-height * 2 + $converter-rate-margin-bt-gt-sm + 1rem;

// Footer
$footer-caption-height: 1.25rem;
$footer-menu-height: $common-height - 2 * $common-padding;
$footer-padding: 1.5rem;

$footer-height: $footer-caption-height + $footer-menu-height + $footer-padding * 3;

// Rates table
$rates-table-row-height: 3rem;

// Side menu item
$side-menu-item-height: 3rem;

// Submenu item
$submenu-item-height: 2.5rem;