@import '../../../style/helpers/variables';

.footer {
  background-color: $color-primary-light;
  min-height: $footer-height;
  padding: $footer-padding;
}
.footer-menu-item {
  list-style: none;
  @media(min-width: 600px) {
    display: inline;
    margin-right: $footer-padding;
  }
}
.footer-menu-link {
  color: $color-text-dark;
  line-height: 1.5rem;
  text-decoration: none;
  @media(min-width: 600px) {
    height: $footer-menu-height;
    line-height: $footer-menu-height;
  }
}