footer {
  background-color: orange;
  height: 13vh;
}
md-icon.custom-icon {
  font-size: 36px;
  height: 36px;
  margin: 0;
  width: 36px;
}
.menu-item {
  max-height: 3vh;
  font-size: 12px;
  a {
    line-height: 3vh;
    text-decoration: none;
  }
}