@import '../../../style/helpers/variables';
@import '../../../style/helpers/placeholders';

.footer {
  background-color: $color-primary-dark;
  min-height: $common-height;
  padding: $footer-padding $common-padding;
}
.footer-info {
  color: $color-text-light;
  text-align: center;
  margin-top: $footer-padding;
}
.footer-info-link {
  @extend %footer-link;
  @media (min-width: 600px) {
    height: 1.25rem;
    line-height: 1.25rem;
  }
}
.footer-menu-item {
  list-style: none;
  @media(min-width: 600px) {
    display: inline;
    margin-right: $common-padding;
  }
}
.footer-menu-link {
  @extend %footer-link;
  line-height: 1.5rem;
  @media(min-width: 600px) {
    height: $footer-menu-height;
    line-height: $footer-menu-height;
  }
}