<div ng-class="{'rates-table-cell-right': $ctrl.alignment === 'end'}" ng-cloak>
  <div ng-if="$ctrl.key === 'code'">
    <span class="rates-table-cell-code">
      {{$ctrl.value}}
    </span>
    <button type="button" class="app-typography-body-2 rates-table-cell-code-button" ng-click="$ctrl.sendIndex()" layout
      layout-align="start center">
      {{$ctrl.value}}
      <md-icon class="rates-table-cell-icon" ng-class="{'rates-table-cell-subrow': $ctrl.subrow === $ctrl.index}">
        keyboard_arrow_right
      </md-icon>
    </button>
  </div>
  <span ng-if="$ctrl.key === 'date'">
    {{$ctrl.value | date: "dd.MM.yyyy"}}
  </span>
  <span ng-if="$ctrl.key === 'ask' || $ctrl.key === 'bid' || $ctrl.key === 'currency'">
    {{$ctrl.value}}
  </span>
  <span ng-class="{'rates-table-cell-green': $ctrl.value.number > 0, 'rates-table-cell-red': $ctrl.value.number < 0}"
    ng-if="$ctrl.key === 'askDelta' || $ctrl.key === 'bidDelta'">
    {{$ctrl.value.string}}
  </span>
</div>