@import '../../../../../style/helpers/variables';
@import '../../../../../style/helpers/mixins';

button.rates-table-cell-code-button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  @media(min-width: #{$breakpoint-gt-xs}) {
    display: none;
  }
}
md-icon.rates-table-cell-icon {
  color: $color-table-data;
  margin: 0;
}
.rates-table-cell-code {
  @media(max-width: calc(#{$breakpoint-gt-xs} - 1px)) {
    display: none;
  }
}
.rates-table-cell-green {
  color: $color-indicator-up;
}
.rates-table-cell-red {
  color: $color-indicator-down;
}
.rates-table-cell-right {
  text-align: right;
}
.rates-table-cell-subrow {
  @include icon-animations(90deg, $animation-duration-opacity-on - 50ms);
}