<a class="side-menu-link side-menu-item-contents" ui-sref="{{$ctrl.menuItem.state}}"
  ui-sref-active="side-menu-link-active" ng-if="!$ctrl.menuItem.subitems">
  <md-icon class="side-menu-item-icon">
    {{$ctrl.menuItem.icon}}
  </md-icon>
  <span>
    {{$ctrl.menuItem.title}}
  </span>
</a>
<button type="button" class="side-menu-item-button" layout layout-align="space-between center"
  ng-click="$ctrl.expandSubmenu()" ng-if="$ctrl.menuItem.subitems">
  <span>
    <md-icon class="side-menu-item-icon">
      {{$ctrl.menuItem.icon}}
    </md-icon>
    {{$ctrl.menuItem.title}}
  </span>
  <md-icon class="app-margin-0 side-menu-item-icon-arrow"
    ng-class="{'side-menu-item-icon-collapsed': !$ctrl.submenu, 'side-menu-item-icon-expanded': $ctrl.submenu}">
    keyboard_arrow_right
  </md-icon>
</button>
<div ng-if="$ctrl.menuItem.subitems">
  <ul ng-class="{'side-menu-item-submenu-expanded': $ctrl.submenu, 'side-menu-item-submenu-collapsed': !$ctrl.submenu}">
    <li class="app-typography-subtitle-2" layout="column" layout-align="space-around"
      ng-repeat="subitem in $ctrl.menuItem.subitems">
      <app-submenu-item submenu-item="subitem"></app-submenu-item>
    </li>
  </ul>
</div>