@import '../../../../style/helpers/variables';
@import '../../../../style//helpers/mixins';
@import '../../../../style/helpers/placeholders';

.side-menu-item-button {
  @extend %side-menu-item-level-1;
  background: none;
  border: none;
  width: 100%;
}
.side-menu-item-contents {
  @extend %side-menu-item-level-1;
}
.side-menu-item-icon {
  color: $color-text-dark;
}
.side-menu-item-icon-collapsed {
  @include icon-animations(0, 350ms);
}
.side-menu-item-icon-expanded {
  @include icon-animations(90deg, $show-animation-duration);
}
.side-menu-item-submenu-collapsed {
  @include submenu-animations(1px, 0, hidden, $hide-animation 150ms, 150ms ease-in, 0ms $hide-animation-duration);
}
.side-menu-item-submenu-expanded {
  @include submenu-animations(5rem, 1, visible, $show-animation, 250ms ease-out $show-animation-duration, 0ms);
}