@import '../../../../style/helpers/variables';
@import '../../../../style//helpers/mixins';
@import '../../../../style/helpers/placeholders';

.side-menu-item-button {
  @extend %side-menu-item-level-1;
  background: none;
  border: none;
  width: 100%;
}
.side-menu-item-contents {
  @extend %side-menu-item-level-1;
}
.side-menu-item-icon {
  @extend %side-menu-icon;
}
.side-menu-item-icon-arrow {
  @extend %side-menu-icon;
}
.side-menu-item-icon-collapsed {
  @include icon-animations(0, $animation-duration-hide + $animation-duration-opacity-off);
}
.side-menu-item-icon-expanded {
  @include icon-animations(90deg, $animation-duration-show);
}
.side-menu-item-submenu-collapsed {
  height: 0;
  opacity: 0;
  transition: height $animation-hide $animation-duration-opacity-off, opacity $animation-opacity-off, visibility 0ms $animation-duration-hide + $animation-duration-opacity-off;
  visibility: hidden;
}
.side-menu-item-submenu-expanded {
  height: 5rem;
  opacity: 1;
  transition: height $animation-show, opacity $animation-opacity-on $animation-duration-show, visibility 0ms;
  visibility: visible;
}