<div class="app-position-relative converter-rate" ng-cloak>
  <span class="app-typography-body converter-rate-data" ng-show="$ctrl.show">
    {{$ctrl.rateData.denomination}} {{$ctrl.rateData.code}} = {{$ctrl.rateData.rate}} PLN
  </span>
  <a class="app-typography-body-2 converter-rate-link md-whiteframe-2dp" ng-show="$ctrl.show"
    ui-sref="appRates.historical({code: $ctrl.rateData.code})" layout layout-align="space-around center">
    <span>
      Notowania z ostatniego tygodnia
    </span>
    <span>
      <md-icon class="converter-rate-icon md-primary md-hue-2">
        arrow_upward
      </md-icon>
    </span>
  </a>
  <div class="app-backdrop-loader" ng-show="$ctrl.loader"></div>
</div>