@import '../../../../style/helpers/variables';

.converter-rate {
  padding-bottom: 1rem;
}
.converter-rate-block {
  height: $converter-rate-height;
  padding: 0 1.5rem;
  &:first-child {
    @media(max-width: $breakpoint-xs - 1px) {
      margin-bottom: .5rem;
    }
  }
  @media(min-width: $breakpoint-xs){
    width: 50%;
  }
}
.converter-rate-data.ng-hide {
  opacity: 0;
}
.converter-rate-data.ng-hide-remove {
  transition: opacity $animation-opacity-on;
}
.converter-rate-icon {
  transform: rotate(45deg);
}
.converter-rate-link {
  border-radius: 2px;
  color: $color-text-dark;
  height: $converter-rate-height;
  text-decoration: none;
  transition: background-color $animation-opacity-on;
  width: 14rem;
  &:focus {
    background-color: $color-primary-light;
    outline: none;
  }
  &:hover {
    background-color: $color-primary-light;
  }
  @media(max-width: $breakpoint-xs - 1px){
    margin: 0 auto;
  }
}
.converter-rate-link.ng-hide {
  opacity: 0;
}
.converter-rate-link.ng-hide-remove {
  transition: opacity $animation-opacity-on $animation-duration-opacity-on * 2;
}