@import '../../../../style/helpers/variables';

.converter-rate {
  height: $converter-rate-container-height;
  overflow: hidden;
  @media(min-width: #{$breakpoint-gt-sm}){
    height: $converter-rate-container-height-gt-sm;
  }
}
.converter-rate-data {
  display: inline-block;
  height: $converter-rate-height;
  line-height: $converter-rate-height;
  margin-bottom: $converter-rate-margin-bt;
  text-align: center;
  width: 100%;
  @media(min-width: #{$breakpoint-gt-sm}){
    margin-bottom: $converter-rate-margin-bt-gt-sm;
  }
}
.converter-rate-data.ng-hide {
  opacity: 0;
}
.converter-rate-data.ng-hide-add {
  transition: opacity $animation-opacity-off;
}
.converter-rate-data.ng-hide-remove {
  transition: opacity $animation-opacity-on;
}
.converter-rate-icon {
  transform: rotate(45deg);
}
.converter-rate-link {
  border-radius: 2px;
  color: $color-text-dark;
  height: $converter-rate-height;
  margin: 0 auto;
  text-decoration: none;
  transition: background-color $animation-opacity-on;
  width: 16rem;
  &:focus {
    background-color: $color-primary-light;
    outline: none;
  }
  &:hover {
    background-color: $color-primary-light;
  }
}
.converter-rate-link.ng-hide {
  transform: translateY(3rem);
}
.converter-rate-link.ng-hide-add {
  transition: transform $animation-hide;
}
.converter-rate-link.ng-hide-remove {
  transition: transform $animation-show $animation-duration-opacity-on * 2;
}