@import '../../../../style/helpers/variables';

.converter-rate {
  height: $converter-rate-container-height;
  margin-top: 1rem;
  overflow: hidden;
}
.converter-rate-data {
  display: inline-block;
  height: $converter-rate-height;
  line-height: $converter-rate-height;
  margin-bottom: $converter-rate-margin-bt;
  text-align: center;
  width: 100%;
}
.converter-rate-data.ng-hide {
  opacity: 0;
}
.converter-rate-data.ng-hide-add {
  transition: opacity $animation-opacity-off;
}
.converter-rate-data.ng-hide-remove {
  transition: opacity $animation-opacity-on;
}
.converter-rate-icon {
  transform: rotate(45deg);
}
.converter-rate-link {
  background-color: $color-primary-light;
  border-radius: 2px;
  color: $color-text-dark;
  height: $converter-rate-height;
  text-decoration: none;
  transition: background-color $animation-opacity-on;
  &:focus {
    background-color: $color-primary;
    outline: none;
  }
  &:hover {
    background-color: $color-primary;
  }
}
.converter-rate-link.ng-hide {
  transform: translateY(4rem);
}
.converter-rate-link.ng-hide-add {
  transition: transform $animation-hide;
}
.converter-rate-link.ng-hide-remove {
  transition: transform $animation-show $animation-duration-opacity-on * 2;
}